<h1>Contacts#new</h1>

<%= form_for :contact, url: '/contacts/create' do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit 'Add new contact' %>
  </p>

<% end %>
